// Here you can add other styles
// .MuiDataGrid-root .MuiDataGrid-columnHeader {
//     background-color: rgba(255, 0, 0);
// }
//Date input
.MuiFormControl-root{
    width: 100%;
}
.container-date-input{
    margin-top: 0.25rem;
}

//sideBarForm

#sidebar-view {
    position: fixed;
    right: 0;
    transition: left 0.3s;
    bottom: 0;
    margin-bottom: -10px;
    height: 94%;
    /* margin-left: -5px;
    margin-bottom: -3px; */
    }
    
    #sidebar-form-view {
    background-color: #fff;
    /* float: left;
     */
    width: 450px;
    height: 98.5%;
    z-index: 1000;
    /* padding-left: 5px;
    padding-right: 10px; */
    background-clip: 'padding-box';
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
    
    #feedback-tab {
    float: right;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    width: 70px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.884);
    
    margin-top: 90px;
    margin-left: -15px;
    padding-top: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    }
    
    #feedback-tab:hover { background-color: rgb(255, 255, 255); }
    .mylist {
    width: 438px;
    height: 65vh;
    max-height: 980px;
    overflow-y: scroll;
    
    
    }
    @media only screen and (max-width: 992px) {
    #sidebar-view {
      position: fixed;
      right: 0;
      transition: left 0.3s;
      bottom: 0;
      margin-bottom: -10px;
      height: 94%;
      }
    }
    
    #menuselect {
      z-index: 1200 !important;
    
    }
    
  
    
    @media only screen and (max-width: 600px) {
    
      #sidebar-view {
        position: fixed;
        right: 0;
        transition: left 0.3s;
        bottom: 0;
        margin-bottom: -10px;
        height: 94%;
        }
    
  
    
    #sidebar-form-view {
      background-color: #fff;
      float: left;
      width: 300px;
      height: 98.5%;
      z-index: 1000;
      padding-left: 5px;
      padding-right: 10px;
      background-clip: 'padding-box';
      border: 1px solid rgba(0,0,0,.2);
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
      -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
    
    #feedback-tab {
      float: right;
      color: rgb(0, 0, 0);
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      width: 70px;
      height: 42px;
      background-color: rgba(255, 255, 255, 0.884);
    
      margin-top: 90px;
      margin-left: -15px;
      padding-top: 5px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    
    #feedback-tab:hover { background-color: rgb(255, 255, 255); }
    .mylist {
      width: 290px;
      max-height: 500px;
    
    }
    }
//sidebarForm  